<div class="card mb-3 shadow p-3 bg-white rounded">
    <div class="card-header bg-light">
        <span class="h5">Owner</span>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
    </ul>
</div>