<ul class="list-group">
    <li class="list-group-item border border-left-0 border-right-0">
        <a class="nav-link text-dark" asp-area="" asp-controller="Mobile" asp-action="Scan">
            <i class="fa fa-barcode" style="font-size: 17px"></i>
            <span class="m-2">Scan</span>
        </a> 
    </li>
    <li class="list-group-item border border-left-0 border-right-0">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa fa-user-o" style="font-size: 17px"></i>
            <span class="m-2">My Profile</span>
        </a>
    </li>
    <li class="list-group-item border border-left-0 border-right-0">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="m-2">Sign In</span>
        </a>
    </li>
    <li class="list-group-item border border-left-0 border-right-0">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="m-2">Sign Out</span>
        </a>
    </li>
</ul>
