<ul class="navbar-nav flex-grow-1">
    <li class="nav-item flex-fill text-center d-block d-sm-none">
        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa fa-home" style="font-size: 20px"></i>
        </a>
    </li>
    <li class="nav-item flex-fill text-center d-block d-sm-none">
        <a class="nav-link text-light" asp-area="" asp-controller="Advert" asp-action="Index">
            <i class="fa fa-bullhorn" style="font-size: 20px"></i>
        </a>
    </li>
    <li class="nav-item flex-fill text-center d-block d-sm-none">
        <a class="nav-link text-light" asp-area="" asp-controller="Post" asp-action="Index">
            <i class="fa fa-comment" style="font-size: 20px"></i>
        </a>
    </li>
    <li class="nav-item flex-fill text-center d-block d-sm-none bg-secondary">
        <a class="nav-link text-light" asp-area="" asp-controller="Mobile" asp-action="PropertyList">
            <i class="fa fa-building-o" style="font-size: 20px"></i>
        </a>
    </li>
    <li class="nav-item flex-fill text-center d-block d-sm-none">
        <a class="nav-link text-light" asp-area="" asp-controller="Mobile" asp-action="Menu">
            <i class="fa fa-bars" style="font-size: 20px"></i>
        </a>
    </li>
</ul>